// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700%7CWork+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500;600&family=Poppins:ital,wght@0,400;1,300&family=Signika+Negative:wght@700&family=Unbounded:wght@200&family=Work+Sans:wght@200&display=swap');
@import url('https://fonts.cdnfonts.com/css/bruce-forever');

// Define fonts for body and headers
// $body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Bruce Forever", sans-serif;
$body-font: "Poppins";
// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
@font-face {
  font-family: "Bruce";
  src: font-url("Bruce.ttf");
}
/* @font-face {
  font-family: "Sans";
  src: font-url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500;600&family=Poppins:ital,wght@0,400;1,300&family=Signika+Negative:wght@700&family=Unbounded:wght@200&family=Work+Sans:wght@200&display=swap');
} */
