body {
  color: #E7E7E7;
  background-size: cover;
<<<<<<< HEAD
  background-image: url('../../images/background.png');
=======
  background-image: url('background.png');
>>>>>>> 838877a56a52c0e11e35d74117af3ead922be1c2
}
h1 {
  font-size: 60px;
  margin: 50px;
  text-align: center;
}
