<div>
  <div class = 'homepage-first'>
    <h1>Discover, Enjoy And Play with WTT Games</h1>
  </div>
  <div class = 'homepage-second'>
      <div class = "how-to-rent">
        <div id = 'first-step' style="flex-grow: 2"> <p>How to rent in <br>WWT world?</p></div>
        <div id = 'second-step' style="flex-grow: 1">
          <div>
            <h3>Select</h3>
            <p>Choose your favorite game and platform, then press 'Rent this game' button.Select appropriate renting dates.</p>
          </div>
        </div>
        <div id = 'third-step' style="flex-grow: 1">
          <div>
            <h3>Play</h3>
            <p>After sending a request, wait for the confirmation of the owner and enjoy the game.</p>
          </div>
        </div>
      </div>
  </div>
  <div class = 'homepage-three'>
    <p>We have all genres</p>
    <div class="running-line">
      <div class="first-half">
        <p>Action</p>
        <p>Action-adventure</p>
        <p>Adventure</p>
        <p>Puzzle</p>
        <p>Role-playing</p>
      </div>
      <div class="second-half">
        <p>Simulation</p>
        <p>Strategy</p>
        <p>Sports</p>
        <p>MMO</p>
        <p>Sandbox</p>
      </div>
    </div>
  </div>
  <div class = 'homepage-four'>
    <div class = "homepage-four-left">
      <h3>Exclusive content:
      We work with game developers to offer exclusive content and special promotions that you won't find anywhere else.</h3>
      <p>We take security seriously, and our website provides a safe and secure environment for you to enjoy games without worrying about viruses, malware, or other online threats.</p>
    </div>
    <div class = "homepage-four-right">
      <ul>
        <li><p>Reliability</p></li>
        <li><p>Security</p></li>
        <li><p>Variety</p></li>
      </ul>
    </div>
  </div>
</div>
