<div>
  <div class = 'homepage-first'>
    <h1>Discover, Enjoy And Play with WTT Games</h1>
  </div>
  <div class = 'homepage-second'>
      <div class = "how-to-rent">
        <div id = 'first-step' style="flex-grow: 2"> <p>How to rent in <br>WWT world?</p></div>
        <div id = 'second-step' style="flex-grow: 1">
          <h3>Select</h3>
          <p>Choose your favorite game and platform, then press 'Rent this game' button.Select appropriate renting dates.</p>
        </div>
        <div id = 'third-step' style="flex-grow: 1">
          <h3>Play</h3>
          <p>After sending a request, wait for the confirmation of the owner and enjoy the game.</p>
        </div>
      </div>
  </div>
  <div class = 'homepage-three'>
    <h2>We have all genres</h2>
    <div class="running-line">
      <div class="first-half">
        <p>Action</p>
        <p>Action-adventure</p>
        <p>Adventure</p>
        <p>Puzzle</p>
        <p>Role-playing</p>
      </div>
      <div class="second-half">
        <p>Simulation</p>
        <p>Strategy</p>
        <p>Sports</p>
        <p>MMO</p>
        <p>Sandbox</p>
      </div>
    </div>
  </div>
</div>
