<%= link_to "See my games and profile", user_path(current_user) %> | <%= link_to "Add a new game", new_game_path %>

<h1>All Games</h1>

<div id="games">
  <% @games.each do |game| %>
    <h3><%= game.name %></h3>
    <p>
      <%= link_to "Show this game", game %>
    </p>
  <% end %>
</div>
