
<body class = 'newback'>
  <div class = 'container games p-0 w-100'>
    <h1>New game</h1>
    <div class = 'new-game'>
      <div class = 'new-game-form'>
        <%= render "form", game: @game %>
      </div>
      <div class = 'new-game-right'>
        <div class = 'grey-text first'>
          <p>Safety is guaranteed</p>
        </div>
        <div class = 'grey-text second'>
          <p>Our members save more with Monthly Coupons, Member-Only Discounts and GameFly Dollars</p>
        </div>
      </div>
    </div>
  </div>
</body>
