.card-big {
  // border: 1px solid lightgray;
  background-color: #17122F;
  opacity: 0.75;
  transition: 0.5s;
  border-radius: 5px;
  padding: 36px;
  margin: 24px 0px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card-big .gradient-btn {
  font-size: 20px;
}

.card-big h1 {
  text-align: center;
  margin: 0px 0px 36px 0px;
  font-size: 48px;
}

.card-info {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 0px 36px 0px;
  // justify-content: space-between;
}

.card-info-img {
  margin: 0 36px 20px 0;
  object-fit: cover;
  border-radius: 5px;
  border: 1px solid #E7E7E7;
  }

.card-info-text {
  height: 100%;
  width: 600px;
}

.card-price {
  margin-bottom: 36px;
  font-family: "Bruce Forever";
  font-size: 16px;
}
