.logo{
  color: #FFF;
  font-weight: 900;
  text-decoration: none;
  font-family: 'Bruce Forever';
  display: inline-block;
  width: 200px;
  height: 50px;
}
.my-navbar {
  padding:20px 200px;
  background: rgba(255, 255, 255, 0.1);
  text-align: end;
  .middle {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    li {
      margin: 0 30px;
    }
  }
}
.my-navbar  li a{
  font-family: 'Bruce Forever';
  font-size: 14px;
  text-decoration: none;
  color: #E7E7E7;
  font-weight:100;
  background: none;
  font-size: 12px;
  opacity: 0.7;
}
.my-navbar  li a:hover {
  opacity: 1;
}


.my-navbar .gradient-btn{
  width: 200px;
  height: 50px;
}
.logo:hover {
  color: black;
}
