.cards {
  margin: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin: 8px;
  background-size: cover;
  background-position: center;
  height: 150px;
  width: 150px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  // align-items: center;
  // justify-content: space-around;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}
