.cards-profile {
  margin: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-profile {
  margin: 8px;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.card-game-info-img {
  margin: 0 36px 20px 0;
  object-fit: cover;
  border-radius: 5px;
  border: 1px solid #E7E7E7;
  }

.card-rents-request {
  margin: 8px;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.card-rented-games {
  margin: 8px;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
